In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date as dt

In [55]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Quantium Data Analytics/Week 2/QVI_data.csv")

In [56]:
df.head()

   LYLTY_CARD_NBR        DATE  ...              LIFESTAGE  PREMIUM_CUSTOMER
0            1000  2018-10-17  ...  YOUNG SINGLES/COUPLES           Premium
1            1002  2018-09-16  ...  YOUNG SINGLES/COUPLES        Mainstream
2            1003  2019-03-07  ...         YOUNG FAMILIES            Budget
3            1003  2019-03-08  ...         YOUNG FAMILIES            Budget
4            1004  2018-11-02  ...  OLDER SINGLES/COUPLES        Mainstream

[5 rows x 12 columns]

In [57]:
df.shape

(264834, 12)

In [58]:
df['PROD_NAME'] = df['PROD_NAME'].str.strip()

In [59]:
df.columns = df.columns.str.lower()

In [60]:
df["prod_name"] = df["prod_name"].apply(lambda x: x[:-4])

In [61]:
df["prod_name"] = df["prod_name"].str.strip()

In [62]:
df.head()

   lylty_card_nbr        date  ...              lifestage  premium_customer
0            1000  2018-10-17  ...  YOUNG SINGLES/COUPLES           Premium
1            1002  2018-09-16  ...  YOUNG SINGLES/COUPLES        Mainstream
2            1003  2019-03-07  ...         YOUNG FAMILIES            Budget
3            1003  2019-03-08  ...         YOUNG FAMILIES            Budget
4            1004  2018-11-02  ...  OLDER SINGLES/COUPLES        Mainstream

[5 rows x 12 columns]

In [63]:
df["company"] = df["prod_name"].str.split().str.get(0)
df["product_name"] = df["prod_name"].str.split().str[1:]
df.head()

   lylty_card_nbr        date  ...  company                       product_name
0            1000  2018-10-17  ...  Natural            [Chip, Compny, SeaSalt]
1            1002  2018-09-16  ...      Red  [Rock, Deli, Chikn&Garlic, Aioli]
2            1003  2019-03-07  ...    Grain        [Waves, Sour, Cream&Chives]
3            1003  2019-03-08  ...  Natural         [ChipCo, Hony, Soy, Chckn]
4            1004  2018-11-02  ...       WW         [Original, Stacked, Chips]

[5 rows x 14 columns]

In [64]:
df["prod_name"] = df["product_name"].apply(lambda x:" ".join(x))
df.head()

   lylty_card_nbr        date  ...  company                       product_name
0            1000  2018-10-17  ...  Natural            [Chip, Compny, SeaSalt]
1            1002  2018-09-16  ...      Red  [Rock, Deli, Chikn&Garlic, Aioli]
2            1003  2019-03-07  ...    Grain        [Waves, Sour, Cream&Chives]
3            1003  2019-03-08  ...  Natural         [ChipCo, Hony, Soy, Chckn]
4            1004  2018-11-02  ...       WW         [Original, Stacked, Chips]

[5 rows x 14 columns]

In [65]:
df = df.drop("product_name", 1)
df.head()

   lylty_card_nbr        date  ...  premium_customer  company
0            1000  2018-10-17  ...           Premium  Natural
1            1002  2018-09-16  ...        Mainstream      Red
2            1003  2019-03-07  ...            Budget    Grain
3            1003  2019-03-08  ...            Budget  Natural
4            1004  2018-11-02  ...        Mainstream       WW

[5 rows x 13 columns]

In [66]:
df.tail()

        lylty_card_nbr        date  ...  premium_customer   company
264829         2370701  2018-12-08  ...        Mainstream     Grain
264830         2370751  2018-10-01  ...           Premium    Kettle
264831         2370961  2018-10-24  ...            Budget  Tyrrells
264832         2370961  2018-10-27  ...            Budget       Old
264833         2373711  2018-12-14  ...        Mainstream    Smiths

[5 rows x 13 columns]

In [67]:
print(df["prod_name"].nunique())
print("------------------------")
print(df["prod_name"].unique())

111
------------------------
['Chip Compny SeaSalt' 'Rock Deli Chikn&Garlic Aioli'
 'Waves Sour Cream&Chives' 'ChipCo Hony Soy Chckn'
 'Original Stacked Chips' 'Puffs' 'SourCream&Herbs Veg Strws'
 'SR Slow Rst Pork Belly' 'Cheese Supreme' 'Mexicana'
 'El Paso Salsa Dip Tomato Med' 'Plus Btroot & Chilli Jam'
 'Crinkle Cut Chips Barbecue' 'Sensations Camembert & Fig'
 'Corn Chip Southern Chicken' 'Tasty Cheese' 'Splash Of Lime'
 '135g Swt Pot Sea' 'Salt & Vinegar' 'Mango Chutny Papadums'
 'Crinkle Cut Snag&Sauce' 'Crinkle Original' 'Sweet Chilli & Sour Cream'
 'Chip Thinly S/Cream&Onion' 'Crinkle Chips Salt & Vinegar'
 'Rock Deli SR Salsa & Mzzrlla' 'Popd Sea Salt Chips'
 'ChipCo Sea Salt & Vinegr' 'Chip Co Tmato Hrb&Spce' 'Rings'
 'Cheese Rings' 'Thinly Swt Chli&S/Cream' 'Chips Seasonedchicken'
 'Thinly Cut Roast Chicken' 'Crisps Ched & Chives'
 'Corn Chips Cheese Supreme' 'Chip Thinly Cut Original'
 'Crinkle Cut Chips Original' 'Chips Light& Tangy' 'Corn Chips Original'
 'Sensations Siracha Lime' 'Crinkle Cut Salt & Vinegar'
 'Crinkle Cut Bolognese' 'Cheese' 'Chilli' 'Crisps Lightly Salted'
 'Crinkle Cut Chicken' 'Chilli& Coconut' 'BBQ Rib Prawn Crackers'
 'Whlegrn Crisps Frch/Onin' 'Salsa Medium' 'Tortilla ChpsFeta&Garlic'
 'Crinkle Cut French OnionDip' 'D/Style Chip Sea Salt'
 'Chip Thinly CutSalt/Vinegr' 'Sensations BBQ&Maple'
 'El Paso Salsa Dip Tomato Mild' 'Smoked Chipotle' 'Lime & Pepper'
 'Nacho Cheese' 'Whlgrn Crisps Cheddr&Mstrd' 'Tortilla ChpsBtroot&Ricotta'
 'Sthrn FriedChicken' 'Chicken Salt Crips' 'Fries Potato Chips'
 'Mozzarella Basil & Pesto' 'Original' 'Lightly Salted'
 'Crnkle Chip Orgnl Big Bag' 'Crinkle Cut Chips Chicken'
 'Crinkle Cut Chips Chs&Onion' 'Chicken' 'Medium Salsa'
 'Rock Deli Sp Salt & Truffle' 'Pc Sea Salt' 'Supreme Cheese Corn Chips'
 'Original Corn Chips' 'Mild Salsa' 'Cheese Box' 'Salsa Mild'
 'Popd Swt/Chlli &Sr/Cream Chips' 'Crn Crnchers Tangy Gcamole'
 'Sour Cream &OnionStacked Chips' 'Mystery Flavour' 'Barbeque'
 'Waves Sweet Chilli' 'Sweet&Spcy BBQ' 'Thai SweetChili PotatoMix'
 'El Paso Salsa Dip Chnky Tom Ht' 'Crinkle Cut Tomato Salsa'
 'Chs & Bacon Balls' 'Sweet Chilli And Sour Cream'
 'Corn Chips Nacho Cheese' 'Popd Sour Crm &Chives Chips'
 'Rock Deli Thai Chilli&Lime' 'Cheese Burger' 'Sea Salt And Vinegar'
 'Crinkle Cut Original' 'Corn Chp Supreme' 'Corn Chip Mexican Jalapeno'
 'SourCream Onion' 'Tortilla ChpsHny&Jlpno Chili' 'Steak & Chimuchurri'
 'Chips Salt & Vinegar' 'Chips Originl saltd' 'Honey Soy Chicken'
 'Sour Cream & Garden Chives' 'Original Crisps' 'Crinkle Cut Mac N Cheese'
 'Potato Chips Hot & Spicy' 'Slt Vingar']

In [68]:
df = df[["date",	"store_nbr",	"lylty_card_nbr",	"txn_id",	"prod_nbr", "company",	"prod_name",	"prod_qty",	"tot_sales",	"lifestage",	"premium_customer"]]
df.head()

         date  store_nbr  ...              lifestage  premium_customer
0  2018-10-17          1  ...  YOUNG SINGLES/COUPLES           Premium
1  2018-09-16          1  ...  YOUNG SINGLES/COUPLES        Mainstream
2  2019-03-07          1  ...         YOUNG FAMILIES            Budget
3  2019-03-08          1  ...         YOUNG FAMILIES            Budget
4  2018-11-02          1  ...  OLDER SINGLES/COUPLES        Mainstream

[5 rows x 11 columns]

In [69]:
df.describe()

           store_nbr  lylty_card_nbr  ...       prod_qty      tot_sales
count  264834.000000    2.648340e+05  ...  264834.000000  264834.000000
mean      135.079423    1.355488e+05  ...       1.905813       7.299346
std        76.784063    8.057990e+04  ...       0.343436       2.527241
min         1.000000    1.000000e+03  ...       1.000000       1.500000
25%        70.000000    7.002100e+04  ...       2.000000       5.400000
50%       130.000000    1.303570e+05  ...       2.000000       7.400000
75%       203.000000    2.030940e+05  ...       2.000000       9.200000
max       272.000000    2.373711e+06  ...       5.000000      29.500000

[8 rows x 6 columns]

**Total sales revenue**

In [70]:
df["tot_sales"].sum()

1933114.9999999998

**Total number of customers**

In [71]:
df["lifestage"].value_counts()

OLDER SINGLES/COUPLES     54479
RETIREES                  49763
OLDER FAMILIES            48594
YOUNG FAMILIES            43592
YOUNG SINGLES/COUPLES     36377
MIDAGE SINGLES/COUPLES    25110
NEW FAMILIES               6919
Name: lifestage, dtype: int64

**Average number of transactions per customer**

In [72]:
df.groupby(['lifestage', 'premium_customer'])['tot_sales'].agg(['sum', 'mean', 'min', 'max'])

                                               sum      mean  min   max
lifestage              premium_customer
MIDAGE SINGLES/COUPLES Budget             35514.80  7.074661  1.5  28.5
                       Mainstream         90803.85  7.647284  1.5  29.5
                       Premium            58432.65  7.112056  1.5  28.5
NEW FAMILIES           Budget             21928.45  7.297321  1.5  27.0
                       Mainstream         17013.90  7.317806  1.5  23.0
                       Premium            11491.10  7.231655  1.5  23.0
OLDER FAMILIES         Budget            168363.25  7.269570  1.5  28.5
                       Mainstream        103445.55  7.262395  1.5  29.5
                       Premium            80658.40  7.208079  1.5  29.5
OLDER SINGLES/COUPLES  Budget            136769.80  7.430315  1.5  28.5
                       Mainstream        133393.80  7.282116  1.5  28.5
                       Premium           132263.15  7.449766  1.5  29.5
RETIREES               Budget            113147.80  7.443445  1.5  28.5
                       Mainstream        155677.05  7.252262  1.5  29.5
                       Premium            97646.05  7.456174  1.5  29.5
YOUNG FAMILIES         Budget            139345.85  7.287201  1.5  29.5
                       Mainstream         92788.75  7.189025  1.5  28.5
                       Premium            84025.50  7.266756  1.5  25.5
YOUNG SINGLES/COUPLES  Budget             61141.60  6.615624  1.5  27.0
                       Mainstream        157621.60  7.558339  1.5  27.0
                       Premium            41642.10  6.629852  1.5  21.6

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              264834 non-null  object
 1   store_nbr         264834 non-null  int64
 2   lylty_card_nbr    264834 non-null  int64
 3   txn_id            264834 non-null  int64
 4   prod_nbr          264834 non-null  int64
 5   company           264834 non-null  object
 6   prod_name         264834 non-null  object
 7   prod_qty          264834 non-null  int64
 8   tot_sales         264834 non-null  float64
 9   lifestage         264834 non-null  object
 10  premium_customer  264834 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 22.2+ MB

In [74]:
df["date"] = pd.to_datetime(df["date"])

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              264834 non-null  datetime64[ns]
 1   store_nbr         264834 non-null  int64
 2   lylty_card_nbr    264834 non-null  int64
 3   txn_id            264834 non-null  int64
 4   prod_nbr          264834 non-null  int64
 5   company           264834 non-null  object
 6   prod_name         264834 non-null  object
 7   prod_qty          264834 non-null  int64
 8   tot_sales         264834 non-null  float64
 9   lifestage         264834 non-null  object
 10  premium_customer  264834 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 22.2+ MB

In [76]:
df.head()

        date  store_nbr  ...              lifestage  premium_customer
0 2018-10-17          1  ...  YOUNG SINGLES/COUPLES           Premium
1 2018-09-16          1  ...  YOUNG SINGLES/COUPLES        Mainstream
2 2019-03-07          1  ...         YOUNG FAMILIES            Budget
3 2019-03-08          1  ...         YOUNG FAMILIES            Budget
4 2018-11-02          1  ...  OLDER SINGLES/COUPLES        Mainstream

[5 rows x 11 columns]

In [77]:
df["month"] = df["date"].dt.month
df.head()

        date  store_nbr  ...  premium_customer  month
0 2018-10-17          1  ...           Premium     10
1 2018-09-16          1  ...        Mainstream      9
2 2019-03-07          1  ...            Budget      3
3 2019-03-08          1  ...            Budget      3
4 2018-11-02          1  ...        Mainstream     11

[5 rows x 12 columns]

In [78]:
df = df[["date", "month",	"store_nbr",	"lylty_card_nbr",	"txn_id",	"prod_nbr", "company",	"prod_name",	"prod_qty",	"tot_sales",	"lifestage",	"premium_customer"]]
df.head()

        date  month  ...              lifestage  premium_customer
0 2018-10-17     10  ...  YOUNG SINGLES/COUPLES           Premium
1 2018-09-16      9  ...  YOUNG SINGLES/COUPLES        Mainstream
2 2019-03-07      3  ...         YOUNG FAMILIES            Budget
3 2019-03-08      3  ...         YOUNG FAMILIES            Budget
4 2018-11-02     11  ...  OLDER SINGLES/COUPLES        Mainstream

[5 rows x 12 columns]

In [81]:
df_1 = df[df["store_nbr"].isin([77,86,88])]

            date  month  ...               lifestage  premium_customer
73365 2019-03-28      3  ...  MIDAGE SINGLES/COUPLES            Budget
73366 2019-04-13      4  ...  MIDAGE SINGLES/COUPLES            Budget
73367 2018-09-26      9  ...  MIDAGE SINGLES/COUPLES            Budget
73368 2019-02-27      2  ...          YOUNG FAMILIES        Mainstream
73369 2019-01-21      1  ...          YOUNG FAMILIES        Mainstream

[5 rows x 12 columns]

In [87]:
df_1.groupby(['month', 'store_nbr'])['tot_sales'].agg(['sum']).T

month         1                     2   ...      11     12
store_nbr     77     86      88     77  ...      88     77     86      88
sum        204.4  841.4  1266.4  235.0  ...  1382.8  267.3  841.2  1325.2

[1 rows x 36 columns]

In [88]:
df.groupby(["month"])["tot_sales"].agg(['sum'])

             sum
month
1      162642.30
2      150665.00
3      166265.20
4      159845.10
5      156717.65
6      160538.60
7      165275.30
8      158081.05
9      160522.00
10     164415.70
11     160233.70
12     167913.40